<h1><%= @user.name %></h1>

  <p>Name: <%= @user.name %></p>
  <p>email: <%= @user.email %></p>
  <p></p>


  <%= link_to "Edit", edit_user_path, :class => "edit"%>

  <%# permit admin to remove users from list  %>
  <% if @current_user.admin? %>
    <%= link_to "Remove User", @user, :method => 'delete', :data => {:confirm => "Are you sure, you want to remove user permanently?"}, :class => "remove" %>
  <% end %>
