<h1><%= @user.name %></h1>

  <p>Name: <%= @user.name %></p>
  <p>email: <%= @user.email %></p>
  <p>Phone: <%= @user.phone %></p>
  <p>Suburb: <%= @user.suburb %></p>
  <p>Postcode: <%= @user.postcode %></p>

  <%= link_to "Edit", edit_user_path, :class => "edit"%>

  <% if @current_user.admin? %>
    <%= link_to "Remove User", @user, :method => 'delete', :data => {:confirm => "Are you sure, you want to remove user permanently?"}, :class => "remove" %>
  <% end %>
